.Topics

    .topic-link
        display: block
        text-decoration: none
        &:hover
            p
                text-decoration: underline
            span
                text-decoration: none
            
    .card
        span
            text-decoration: none

    &__add-new-topics
        h3
            font-weight: 300 